body {
  font-weight: bolder;
  font-family: 'Segoe UI', 'Roboto', 'Fira Sans', system-ui;
  margin: 0px;
  background-color: black;
  color: white;
}

body.mono {
  font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
}

header {
  background-color: orange;
  color: white;
  margin: 0%;
  padding: 5px;
  padding-left: 10px;
  position: sticky;
  top: 0px;
}

h1.gameTitle {
  font-weight: 850;
  font-size: 200%;
  margin-left: 10px;
  background-color: inherit;
}

h2 {
  margin-left: 10px;
}

rating {
  content-align: center;
  text-align: center;
  letter-spacing: 2%;
  padding: 10px;
  font-weight: 900;
  font-size: 175%;
}

card {
  display: inline-block;
  background-color: darkblue;
  padding: 25px;
}

a, a:visited {
  color: orange;
}